.details_wrap {
  margin-bottom: 1rem;
}

.details_wrap_item {
  padding: 0.3rem;
  background: #fff;
  border-bottom: 0.01rem #dddddd solid;
}

.details_wrap_item .time {
  font-size: 0.32rem;
}

/* 平台已取消，已取消 */
.details_wrap_item .time span.cancel {
  float: right;
  font-size: 0.34rem;
  color: #f05a49;
}

/* 已完成，已接单 */
.details_wrap_item .time span.succeed {
  float: right;
  font-size: 0.34rem;
  color: #00a0e9;
}

/* 待接单 */
.details_wrap_item .time span.waiting {
  float: right;
  font-size: 0.34rem;
  color: #29ab91;
}

/* 已派单 */
.details_wrap_item .time span.complete {
  float: right;
  font-size: 0.34rem;
  color: #ffb414;
}

.details_wrap_item .date {
  font-size: 0.24rem;
  color: #888;
  margin-top: 0.1rem;
}

.details_wrap_item .content {
  overflow: hidden;
  padding-top: 0.3rem;
  padding-left: 1.92rem;
}

.details_wrap_item .content .pic {
  float: left;
  width: 1.62rem;
  height: 1.61rem;
  margin-left: -1.92rem;
}

.details_wrap_item .content .name {
  font-size: 0.34rem;
}

.details_wrap_item .content .price {
  font-size: 0.28rem;
  margin-top: 0.58rem;
}

.details_wrap_item .content .price span {
  color: #f4333c;
}

.details_wrap_time {
  position: relative;
  height: 1.08rem;
  line-height: 1.08rem;
  background: #fff;
  font-size: 0.3rem;
  padding: 0 0.3rem;
}

.details_wrap_time .btn_cancel {
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
  display: block;
  width: 1.6rem;
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  border: 0.01rem #888888 solid;
  border-radius: 0.06rem;
  font-size: 0.3rem;
  color: #666;
}

.details_wrap_reason {
  overflow: hidden;
  padding: 0.3rem;
  background: #fff;
  margin-top: 0.2rem;
}

.details_wrap_reason .why {
  position: relative;
  font-size: 0.34rem;
}

.details_wrap_reason .why .btn_view {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 2.15rem;
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  border: 0.01rem #888888 solid;
  border-radius: 0.06rem;
  font-size: 0.3rem;
  color: #666;
}

.details_wrap_reason .answer {
  font-size: 0.28rem;
  line-height: normal;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  margin-top: 0.1rem;
}

.details_wrap_reason .tel {
  font-size: 0.3rem;
  padding-left: 0.1rem;
  margin-top: 0.1rem;
}

.details_wrap_reason .tel .icon_tel {
  display: inline-block;
  width: 0.42rem;
  height: 0.42rem;
  position: relative;
  top: 0.1rem;
  right: 0.1rem;
}

.details_wrap_info {
  padding: 0 0 0.3rem 0.3rem;
  background: #fff;
  margin-top: 0.2rem;
  overflow: hidden;
}

.details_wrap_info .title {
  font-size: 0.34rem;
  margin-top: 0.22rem;
}

.details_wrap_info .picture {
  overflow: hidden;
  margin-top: 0.3rem;
}

.details_wrap_info .picture img {
  float: left;
  margin-right: 0.2rem;
  width: 1.61rem;
  height: 1.61rem;
}

.details_wrap_info .description {
  font-size: 0.32rem;
  margin-top: 0.3rem;
}

.details_wrap_info .lable {
  overflow: hidden;
}

.details_wrap_info .lable span {
  float: left;
  display: block;
  width: 2.92rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.3rem;
  color: #00a0e9;
  border: 0.01rem #00a0e9 solid;
  margin-top: 0.28rem;
  margin-right: 0.5rem;
}

.details_wrap_belongs {
  font-size: 0.28rem;
  color: #888;
  margin: 1rem 0;
  text-align: center;
}

.details_wrap_belongs .text:last-child {
  margin-top: 0.1rem;
}

.details_wrap_footbtn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  background: #00a0e9;
  font-size: 0.3rem;
  color: #fff;
}

.details_shadow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
}

.details_shadow_box {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.9rem;
  height: 6rem;
  background: #fff;
  border-radius: 0.2rem;
}

.details_shadow_box .title {
  font-size: 0.34rem;
  text-align: center;
  margin-top: 0.5rem;
}

.details_cancelSucceed_box {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: #fff;
  border-radius: 0.2rem;
  font-size: 0.34rem;
}

/* radio */
.button_holder {
  padding-left: 0.6rem;
  font-size: 0.3rem;
}

label {
  display: inline;
}

.regular_radio {
  display: none;
}

.regular_radio + label {
  width: 100%;
  display: block;
}

.regular_radio + label i {
  background-color: #fff;
  border: 0.01rem #939393 solid;
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  top: 0.08rem;
  right: 0.1rem;
  margin-top: 0.25rem;
}

.regular_radio:checked + label i:after {
  content: ' ';
  width: 0.28rem;
  height: 0.28rem;
  border-radius: 100%;
  position: absolute;
  top: 0.03rem;
  left: 0.03rem;
  background: #99a1a7;
}

.button_footer {
  overflow: hidden;
  font-size: 0.34rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.btn_cancel {
  float: left;
  width: 50%;
  height: 0.87rem;
  line-height: 0.88rem;
  border-top: 0.01rem #888888 solid;
}

.btn_confirm {
  float: left;
  color: #fff;
  width: 50%;
  height: 0.88rem;
  line-height: 0.88rem;
  background: #00a0e9;
  border-radius: 0 0 0.2rem 0;
}

.details_shadow_code {
  width: 100%;
  height: 6.7rem;
  position: fixed;
  bottom: 0;
  background: #fff;
}

.details_shadow_code .icon_delete {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  width: 0.42rem;
  height: 0.42rem;
}

.details_shadow_code .code_text {
  text-align: center;
  font-size: 0.34rem;
  margin-top: 1.39rem;
}

.details_shadow_code .pic_code {
  position: absolute;
  top: 2.1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.1rem;
  height: 4.1rem;
}

.details_shadow_evaluation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.9rem;
  height: 6rem;
  background: #fff;
  border-radius: 0.2rem;
}

.details_shadow_evaluation .title {
  font-size: 0.34rem;
  text-align: center;
  margin-top: 0.6rem;
}

.details_shadow_evaluation .evaStar {
  width: 4.1rem;
  overflow: hidden;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.details_shadow_evaluation .evaStar .star {
  font-size: 0;
  width: 4.1rem;
}

.details_shadow_evaluation .evaStar .star .star-item {
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 0.3rem;
  width: 0.56rem;
  height: 0.56rem;
  background-size: 100%;
}

.details_shadow_evaluation .evaStar .star .star-item:first-child {
  margin-left: 0;
}

.details_shadow_evaluation .evaStar .star .star-item.star-item.on {
  background-image: url(../../assets/icon_star.png);
}

.details_shadow_evaluation .evaStar .star .star-item.star-item.half {
  background-image: url(../../assets/icon_star.png);
}

.details_shadow_evaluation .evaStar .star .star-item.star-item.off {
  background-image: url(../../assets/icon_star_hover.png);
}

.details_shadow_evaluation .text {
  box-sizing: border-box;
  width: 5.3rem;
  height: 2.49rem;
  border: 0.01rem #dddddd solid;
  position: absolute;
  top: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  font-size: 0.3rem;
  color: #888;
  text-align: justify;
  padding: 0.25rem;
}

.details_shadow_evaluation .footer_btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0.84rem;
  line-height: 0.84rem;
  text-align: center;
  font-size: 0.34rem;
  color: #00a0e9;
  border-top: 0.01rem #dddddd solid;
}
