.records_wrap {
  width: 100%;
  background: #fff;
}
.records_wrap_top {
  position: relative;
  width: 100%;
  height: 1.91rem;
}
.records_wrap_top .banner {
  position: absolute;
  width: 7.5rem;
  height: 1.91rem;
  top: 0;
}
.records_wrap_top div {
  font-size: 0.36rem;
  color: #fff;
  position: absolute;
  top: 0.35rem;
  left: 50%;
  transform: translateX(-50%);
}
.records_wrap_top .getbtn {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.75rem;
  height: 0.46rem;
  line-height: 0.46rem;
  border: 0.01rem #ffffff solid;
  border-radius: 0.22rem;
  font-size: 0.24rem;
  color: #fff;
  padding: 0 0.2rem;
}
.records_wrap_top .icon_mark {
  position: absolute;
  top: 0.01rem;
  right: 0.15rem;
  width: 0.4rem;
  height: 0.4rem;
}
.records_wrap_item ul {
  position: relative;
  overflow: hidden;
  width: 7.5rem;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0;
  margin: 0;
}
.records_wrap_item ul li {
  float: left;
  width: 3.75rem;
  font-size: 0.34rem;
  color: #333;
  text-align: center;
}
.records_wrap_item ul li.active {
  color: #00a0e9;
}
.records_wrap_item ul span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 0.01rem;
  height: 0.4rem;
  background: #c6c6c6;
}
.records_wrap_item .remind {
  height: 0.64rem;
  line-height: 0.64rem;
  text-align: center;
  font-size: 0.24rem;
  color: #888;
  background: #f5f5f9;
}
.records_wrap_item .loading {
  font-size: 0.3rem;
  color: #888;
  margin-top: 0.3rem;
  text-align: center;
}
.records_wrap_item .list_item {
  padding: 0.3rem 0.4rem 0.3rem 0.5rem;
  border-bottom: 0.01rem #dddddd solid;
}
.records_wrap_item .list_item .name {
  font-size: 0.3rem;
  color: #333;
}
.records_wrap_item .list_item .name span {
  float: right;
}
.records_wrap_item .list_item .date {
  font-size: 0.24rem;
  color: #888;
  margin-top: 0.2rem;
}
.records_shadow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
}
.records_shadow_box {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.4rem;
  background: #fff;
  border-radius: 0.2rem;
  font-size: 0.3rem;
  color: #000;
  text-align: justify;
  padding: 0.5rem 0.45rem 0.6rem;
}
.records_shadow_box .title {
  font-size: 0.34rem;
  text-align: center;
  margin-bottom: 0.3rem;
}
.records_shadow_icon_close {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.6rem;
  height: 0.6rem;
}
