.selectBox {
  width: 100%;
}
.selectBox .head {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 0.01rem solid #dddddd;
}
.selectBox .head .headback {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: -0.3rem;
  border-top: 0.05rem solid #1b81d2;
  border-right: 0.05rem solid #1b81d2;
  margin-top: 0.3rem;
  transform: rotateZ(-135deg);
}
.selectBox .head span {
  font-size: 0.32rem;
  color: #1b81d2;
  line-height: 0.88rem;
  margin-left: 0.3rem;
}
.selectBox .head h3 {
  font-size: 0.36rem;
  line-height: 0.88rem;
  color: #000000;
  margin-left: 1.8rem;
}
.selectBox .selConentbox {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  top: 0.9rem;
  left: 0;
}
.selectBox .selConentbox .nowsel {
  padding-left: 0.3rem;
  line-height: 0.6rem;
  font-size: 0.28rem;
  background-color: #f5f5f9;
}
.selectBox .selConentbox .selected {
  display: flex;
  padding: 0.2rem 0;
  padding-left: 0.3rem;
  border-bottom: 0.01rem solid #f5f5f9;
}
.selectBox .selConentbox .selected span {
  margin-right: 0.2rem;
  line-height: 50 / rem;
  font-size: 0.28rem;
}
.selectBox .selConentbox .selected .active {
  color: red;
}
.selectBox .elelist {
  margin-top: 2.3rem;
  padding-bottom: 1rem;
  width: 100%;
}
.selectBox .elelist li {
  line-height: 0.8rem;
  letter-spacing: 0.05rem;
  width: 100%;
  text-align: left;
  text-indent: 0.3rem;
  font-size: 0.34rem;
  color: black;
  background-color: #ffffff;
  border-bottom: 0.01rem solid #f5f5f9;
}
.selectBox .elelist li a {
  display: block;
  color: #000000;
  text-indent: 0;
  padding: 0 0.5rem;
}
