.goodsTicket {
  display: flex;
  min-height: 100vh;
  /*vh 屏幕高度*/
  flex-direction: column;
  background-color: #f5f5f9;
  padding-bottom: 0.5rem;
}
.goodsTicket .head {
  background-color: #fff;
  padding-bottom: 0.4rem;
}
.goodsTicket .head .imgBox {
  text-align: center;
  margin-top: 0.26rem;
  font-size: 0.28rem;
  color: #333333;
}
.goodsTicket .head .imgBox img {
  width: 1.54rem;
  height: 2.52rem;
}
.goodsTicket .head .imgBox .titile {
  margin-top: 0.35rem;
  font-weight: bold;
}
.goodsTicket .head .btn {
  width: 5.2rem;
  height: 0.84rem;
  background-color: #00a0e9;
  font-size: 0.36rem;
  line-height: 0.84rem;
  word-spacing: 0.02rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 0.05rem;
  margin: 0.25rem auto 0 auto;
}
.goodsTicket .head .nobtn {
  width: 5.2rem;
  height: 0.84rem;
  background-color: #bfc5c8;
  font-size: 0.36rem;
  line-height: 0.84rem;
  word-spacing: 0.02rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 0.05rem;
  margin: 0.25rem auto 0 auto;
}
.goodsTicket .content {
  margin-top: 0.2rem;
  padding: 0.2rem;
  background-color: #fff;
  padding-bottom: 0.51rem;
}
.goodsTicket .content .message h3 {
  font-size: 0.3rem;
  line-height: 0.5rem;
}
.goodsTicket .content .message p {
  margin: 0;
  font-size: 0.24rem;
  word-spacing: 0;
  color: #333333;
  line-height: 0.32rem;
  font-weight: 100;
}
.goodsTicket .content .userAddress {
  font-size: 0.28rem;
  line-height: 0.36rem;
  font-weight: bold;
  margin-top: 0.25rem;
}
.goodsTicket .content .noAddress {
  font-size: 0.36rem;
  color: #333333;
  text-align: center;
  margin-top: 1.12rem;
  font-weight: bold;
}
.goodsTicket .content .goChangeAdd {
  font-size: 0.28rem;
  color: #00a0e9;
  text-align: center;
  margin-top: 0.5rem;
}
.goodsTicket .foot {
  flex: 1;
  text-align: center;
  font-size: 0.24rem;
  color: #666666;
  position: relative;
}
.goodsTicket .foot .telBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.goodsTicket .foot .icon {
  width: 0.26rem;
  height: 0.26rem;
  display: inline-block;
  vertical-align: top;
  background: url('../../img/tel.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 0.05rem;
}
.goodsTicket .goods_info_shadow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
}
.goodsTicket .goods_info_box {
  width: 70%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 0.1rem;
  font-size: 0.36rem;
  text-align: center;
}
.goodsTicket .goods_info_box .remind {
  width: 4.6rem;
  margin: 0.5rem auto 0;
  font-size: 0.32rem;
  color: #333;
  text-align: center;
}
.goodsTicket .goods_info_box .remind2 {
  width: 4.6rem;
  margin: 0.5rem auto;
  font-size: 0.32rem;
  color: #333;
  text-align: center;
}
.goodsTicket .goods_info_box .btn {
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  font-size: 0.32rem;
  color: #00a0e9;
  border-top: 0.01rem #ddd solid;
  margin-top: 0.3rem;
}
.goodsTicket .goods_info_box .btn.nocolor {
  color: #666;
  margin-top: 0;
  margin-bottom: 0.1rem
}
