body {
  background: #f5f5f9;
}
.ad_wrap {
  width: 100%;
  padding: 0 0.3rem;
  margin-bottom: 0.8rem;
}
.ad_wrap img {
  display: block;
  width: 4.2rem;
  height: 1.8rem;
  margin: 0.55rem auto 0.4rem;
}
.ad_wrap h3 {
  font-size: 0.28rem;
  color: #333;
  line-height: 0.5rem;
}
.ad_wrap .text {
  font-size: 0.28rem;
  color: #333;
  line-height: 0.45rem;
}
