.details_wrap {
  width: 7.5rem;
}
.details_wrap_item {
  padding: 0.3rem;
  background: #fff;
  border-bottom: 0.01rem #dddddd solid;
}
.details_wrap_item .time {
  font-size: 0.3rem;
  color: #333;
  font-weight: bold;
}
/* 平台已取消，已取消 */
.details_wrap_item .time span.cancel {
  float: right;
  font-size: 0.34rem;
  color: #f05a49;
  font-weight: normal;
}
/* 已完成，已接单 */
.details_wrap_item .time span.succeed {
  float: right;
  font-size: 0.34rem;
  color: #00a0e9;
  font-weight: normal;
}
/* 待接单 */
.details_wrap_item .time span.waiting {
  float: right;
  font-size: 0.34rem;
  color: #29ab91;
  font-weight: normal;
}
/* 已派单 */
.details_wrap_item .time span.complete {
  float: right;
  font-size: 0.34rem;
  color: #ffb414;
  font-weight: normal;
}
.details_wrap_item .date {
  font-size: 0.26rem;
  color: #888;
  margin-top: 0.1rem;
}
.details_wrap_item .o_number {
  font-size: 0.24rem;
  color: #888;
  margin-top: 0.05rem;
}
.details_wrap_item .o_name {
  font-size: 0.34rem;
  color: #333;
  margin-top: 0.2rem;
  font-weight: bold;
}
.details_wrap_item .o_price {
  font-size: 0.28rem;
  color: #333;
  margin-top: 0.1rem;
}
.details_wrap_item .o_price span {
  color: #f4333c;
}
.details_wrap_item .o_price span span {
  font-size: 0.36rem;
}
.details_wrap_item .content {
  overflow: hidden;
  padding-top: 0.3rem;
  padding-left: 1.92rem;
}
.details_wrap_item .content .pic {
  float: left;
  width: 1.62rem;
  height: 1.61rem;
  margin-left: -1.92rem;
}
.details_wrap_item .content .name {
  font-size: 0.30rem;
  font-weight: bold;
  margin-top: 0.15rem;
}
.details_wrap_item .content .price {
  font-size: 0.28rem;
  margin-top: 0.4rem;
}
.details_wrap_item .content .price span {
  color: #f4333c;
}
.details_wrap_item .content .price span.money {
  font-size: 0.36rem;
}
.details_wrap_time {
  position: relative;
  line-height: 1.08rem;
  background: #fff;
  font-size: 0.3rem;
  padding: 0 0.3rem;
}
.details_wrap_time .btn_cancel {
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
  display: block;
  width: 1.6rem;
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  border: 0.01rem #888888 solid;
  border-radius: 0.06rem;
  font-size: 0.3rem;
  color: #666;
}
.details_wrap_reason {
  overflow: hidden;
  padding: 0.3rem;
  background: #fff;
  margin-top: 0.2rem;
}
.details_wrap_reason .why {
  position: relative;
  font-size: 0.34rem;
}
.details_wrap_reason .why .btn_view {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 2.15rem;
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  background: #0299e3;
  border-radius: 0.06rem;
  font-size: 0.3rem;
  color: #fff;
}
.details_wrap_reason .answer {
  font-size: 0.28rem;
  line-height: normal;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  margin-top: 0.1rem;
}
.details_wrap_reason .tel {
  font-size: 0.3rem;
  padding-left: 0.1rem;
  margin-top: 0.1rem;
}
.details_wrap_reason .tel .icon_tel {
  display: inline-block;
  width: 0.42rem;
  height: 0.42rem;
  position: relative;
  top: 0.1rem;
  right: 0.1rem;
}
.details_wrap_info {
  padding-left: 0.3rem;
  background: #fff;
  margin-top: 0.2rem;
  overflow: hidden;
}
.details_wrap_info .title {
  font-size: 0.34rem;
  margin: 0.22rem 0;
}
.details_wrap_info .picture {
  overflow: hidden;
}
.details_wrap_info .picture img {
  float: left;
  margin: 0 0.2rem 0.3rem 0;
  width: 1.61rem;
  height: 1.61rem;
}
.details_wrap_info .description {
  font-size: 0.32rem;
  margin-bottom: 0.3rem;
}
.details_wrap_info .lable {
  overflow: hidden;
}
.details_wrap_info .lable span {
  float: left;
  display: block;
  width: 2.92rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.3rem;
  color: #00a0e9;
  border: 0.01rem #00a0e9 solid;
  margin-bottom: 0.28rem;
  margin-right: 0.5rem;
}
.details_wrap_info .trash_total_price {
  border-top: 0.01rem #dddddd solid;
  font-size: 0.3rem;
  color: #333;
  height: 1rem;
  line-height: 1rem;
  font-weight: bold;
  margin-left: -0.3rem;
  padding-left: 0.3rem;
}
.details_wrap_info .trash_total_price span {
  color: #f4333c;
  float: right;
  padding-right: 0.32rem;
}
.details_wrap_info .trash_total_price span span {
  font-weight: normal;
  font-size: 0.24rem;
  padding-right: 0;
}
.details_wrap_info .trash_title {
  border-bottom: 0.01rem #dddddd solid;
  font-size: 0.3rem;
  color: #333;
  line-height: 0.7rem;
  margin-left: -0.3rem;
  padding: 0 0.3rem;
  font-weight: bold;
}
.details_wrap_info .trash_title span {
  float: right;
  font-size: 0.28rem;
}
.details_wrap_info .trash_title span span {
  color: #f4333c;
  width: 1.3rem;
}
.details_wrap_info .trash_item {
  position: relative;
  padding: 0.25rem 0 0.2rem;
}
.details_wrap_info .trash_item:last-child {
  border-bottom: 0.01rem #dddddd solid;
}
.details_wrap_info .details_rubsh:last-child .trash_item:last-child {
  border-bottom: none;
}
.details_wrap_info .trash_item .name {
  font-size: 0.28rem;
  color: #333;
}
.details_wrap_info .trash_item .name .amount{
  float: right;
}
.details_wrap_info .trash_item .name .number{
  float: right;
  padding-right: 0.3rem;
  width: 2rem;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
}
.details_wrap_info .zero {
  font-size: 0.28rem;
  color: #333;
  margin: 0.1rem 0 0.3rem 0;
}
.details_wrap_info .trash_item .price {
  font-size: 0.28rem;
  color: #f4333c;
  margin-top: 0.05rem;
}
.details_wrap_info .trash_item .weight {
  font-size: 0.34rem;
  color: #333;
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}
.details_wrap_belongs {
  font-size: 0.28rem;
  color: #888;
  margin: 0.4rem 0 0;
  text-align: center;
  padding-bottom: 1.2rem;
}
.details_wrap_belongs .text:last-child {
  margin-top: 0.1rem;
}
.details_wrap_footbtn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  background: #00a0e9;
  font-size: 0.3rem;
  color: #fff;
}
.details_shadow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
}
.details_shadow_box {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.9rem;
  height: 6rem;
  background: #fff;
  border-radius: 0.2rem;
}
.details_shadow_box .title {
  font-size: 0.34rem;
  text-align: center;
  margin-top: 0.5rem;
}
.details_cancelSucceed_box {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.6rem 1rem;
  background: #fff;
  border-radius: 0.02rem;
  font-size: 0.34rem;
}
/* radio */
.button_holder {
  padding-left: 0.6rem;
  font-size: 0.3rem;
  margin-top: 0.25rem;
}
label {
  display: inline;
}
.regular_radio {
  display: none;
  padding-left: 0.2rem;
}
.regular_radio + label {
  width: 100%;
  display: block;
}
.regular_radio + label i {
  background-color: #fff;
  border: 0.01rem #939393 solid;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  top: 0.04rem;
  right: 0.2rem;
  margin-top: 0.25rem;
}
.regular_radio:checked + label i:after {
  content: ' ';
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 100%;
  position: absolute;
  top: -0.01rem;
  left: -0.01rem;
  background-color: #fff;
  border: 0.04rem #00a0e9 solid;
}
.button_footer {
  overflow: hidden;
  font-size: 0.34rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.btn_cancel {
  float: left;
  width: 50%;
  height: 0.87rem;
  line-height: 0.88rem;
  border-top: 0.01rem #888888 solid;
}
.btn_confirm {
  float: left;
  color: #fff;
  width: 50%;
  height: 0.88rem;
  line-height: 0.88rem;
  background: #00a0e9;
  border-radius: 0 0 0.2rem 0;
}
.details_shadow_code {
  width: 100%;
  height: 6.7rem;
  position: fixed;
  bottom: 0;
  background: #fff;
}
.details_shadow_code .icon_delete {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  width: 0.42rem;
  height: 0.42rem;
}
.details_shadow_code .code_text {
  text-align: center;
  font-size: 0.34rem;
  margin-top: 1.2rem;
}
.details_shadow_code .pic_code {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.1rem;
  height: 4.1rem;
}
.details_shadow_evaluation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.9rem;
  height: 6rem;
  background: #fff;
  border-radius: 0.2rem;
}
.details_shadow_evaluation .title {
  font-size: 0.34rem;
  text-align: center;
  margin-top: 0.6rem;
}
.details_shadow_evaluation .evaStar {
  width: 4.1rem;
  overflow: hidden;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.details_shadow_evaluation .evaStar .star {
  font-size: 0;
  width: 4.1rem;
}
.details_shadow_evaluation .evaStar .star .star-item {
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 0.3rem;
  width: 0.56rem;
  height: 0.56rem;
  background-size: 100%;
}
.details_shadow_evaluation .evaStar .star .star-item:first-child {
  margin-left: 0;
}
.details_shadow_evaluation .evaStar .star .star-item.star-item.on {
  background-image: url(../../assets/icon_star.png);
}
.details_shadow_evaluation .evaStar .star .star-item.star-item.half {
  background-image: url(../../assets/icon_star.png);
}
.details_shadow_evaluation .evaStar .star .star-item.star-item.off {
  background-image: url(../../assets/icon_star_hover.png);
}
.details_shadow_evaluation .text {
  box-sizing: border-box;
  width: 5.3rem;
  height: 2.49rem;
  border: 0.01rem #dddddd solid;
  position: absolute;
  top: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  font-size: 0.3rem;
  color: #888;
  text-align: justify;
  padding: 0.25rem;
}
.details_shadow_evaluation .text:-moz-placeholder {
  color: #333;
}
.details_shadow_evaluation .text::-moz-placeholder {
  color: #333;
}
.details_shadow_evaluation .text:-ms-input-placeholder {
  color: #333;
}
.details_shadow_evaluation .footer_btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0.84rem;
  line-height: 0.84rem;
  text-align: center;
  font-size: 0.34rem;
  color: #00a0e9;
  border-top: 0.01rem #dddddd solid;
}
