body {
  background: #f7f6fb;
  color: #333;
}
a {
  color: #333;
}
.home_wrap {
  width: 100%;
  height: 10rem;
}
.home_address {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  background: #ffffff;
  position: relative;
  font-size: 0.36rem;
  color: #333;
  padding-left: 0.8rem;
  font-weight: bold;
}
.home_address .add {
  position: absolute;
  top: 50%;
  right: 0.7rem;
  transform: translateY(-50%);
  font-size: 0.3rem;
  color: #a4a9b0;
  font-weight: normal;
}
.bestBox {
  height: 100%;
}
.home_address .add.reaonly {
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  right: 0.7rem;
  transform: translateY(-50%);
  font-size: 0.34rem;
  color: #333;
  text-align: left;
  font-weight: bold;
  padding-left: 0.5rem;
}
.home_address img {
  width: 0.36rem;
  height: 0.36rem;
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}
.home_address img.icon_add_logo {
  width: 0.42rem;
  height: 0.42rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.home_address img.icon_add_logo_new {
  width: 0.42rem;
  height: 0.42rem;
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
}
.home_details {
  width: 100%;
  height: 0.53rem;
  position: relative;
}
.home_details_item {
  width: 7rem;
  height: 0.62rem;
  line-height: 0.62rem;
  border-radius: 0.06rem;
  background: #fff2eb;
  position: absolute;
  top: -0.1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.24rem;
  color: #333;
  padding: 0 0.3rem 0 0.2rem;
}
.home_details_item .check {
  float: right;
  color: #ff5900;
}
.home_details_item .triangle{
  width: 0px;
  height: 0px;
  border-width: 0.13rem;
  border-style: solid;
  border-color: transparent transparent #fff2eb transparent;
  position: absolute;
  top: -0.25rem;
  left: 0.5rem;
}
.home_call {
  background-color: #ffffff;
  margin-top: 0.2rem;
  padding: 0.35rem 0;
}
.home_call h3 {
  font-size: 0.34rem;
  text-align: center;
  line-height: 0.88rem;
  font-weight: normal;
  color: #333;
  margin-bottom: 0.1rem;
}
.home_call .home_list {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home_call .home_list .item {
  width: 1.85rem;
  position: relative;
}
.home_call .home_list .item .home_num {
  width: 0.32rem;
  height: 0.32rem;
  position: relative;
  top: 0.05rem;
  right: 0.03rem;
}
.home_call .home_list .item span {
  color: #666666;
  font-size: 0.28rem;
  display: block;
}
.home_call .home_list .item .xuxian {
  border-top: 0.01rem dashed #888;
  width: 0.24rem;
  position: absolute;
  top: 0.2rem;
  right: -0.12rem;
}
.home_recycle {
  padding: 0.2rem 0 0.4rem;
  background: #fff;
  margin-top: 0.2rem;
}
.home_recycle .head {
  font-size: 0.3rem;
  color: #333;
  font-weight: bold;
  padding-left: 0.3rem;
}
.home_recycle .head span {
  font-size: 0.2rem;
  color: #00a0e9;
  font-weight: normal;
  padding-left: 0.18rem;
}
.home_recycle .head img {
  width: 0.32rem;
  height: 0.32rem;
  position: relative;
  top: 0.09rem;
  right: 0.02rem;
}
.home_recycle .remind {
  font-size: 0.18rem;
  color: #ff5900;
  padding-left: 0.3rem;
}
.home_recycle .remind img {
  width: 0.32rem;
  height: 0.32rem;
  position: relative;
  top: 0.09rem;
  right: 0.02rem;
}
.home_recycle .item ul {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 0.3rem;
}
.home_recycle .item ul li {
  width: 2.5rem;
}
.home_recycle .item ul li img {
  display: block;
  width: 1.8rem;
  margin: 0 auto 0.1rem;
}
.home_recycle .main {
  overflow: hidden;
}
.home_recycle .group {
  float: left;
  margin-top: 0.2rem;
}
.home_recycle .group ul {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.home_recycle .group ul li {
  width: 2.5rem;
}
.home_recycle .group ul li img {
  display: block;
  width: 1.8rem;
  margin: 0 auto;
}
.home_recycle .bx {
  width: 2.4rem;
  text-align: center;
  float: left;
  margin-top: 1rem;
}
.home_recycle .bx img {
  display: block;
  width: 2.4rem;
  margin: 0 auto;
}
.swiper-container,
.swiper-wrapper {
  width: 100%;
  height: 2.8rem;
}
.swiper-slide {
  height: 2.8rem;
}
.swiper-slide img {
  height: 2.8rem;
}
.swiper-slide a {
  height: 2.8rem;
  display: block;
}
.home_wrap_banner {
  width: 7.5rem;
  height: 2.8rem;
  position: relative;
  z-index: 9;
}
.home_wrap_item {
  padding: 0.3rem;
  background: #fff;
  margin-top: 0.2rem;
}
.home_wrap_item .time {
  font-size: 0.3rem;
  color: #333;
}
/* 待接单 */
.home_wrap_item .time span.waiting {
  float: right;
  font-size: 0.3rem;
  color: #29aa90;
}
/* 已派单 */
.home_wrap_item .time span.complete {
  float: right;
  font-size: 0.3rem;
  color: #ffb414;
}
/* 已接单 */
.home_wrap_item .time span.already {
  float: right;
  font-size: 0.3rem;
  color: #00a0e9;
}
.home_wrap_item .o_number {
  font-size: 0.24rem;
  color: #888;
  margin-top: 0.05rem;
}
.home_wrap_item .o_name {
  font-size: 0.3rem;
  color: #333;
  margin-top: 0.2rem;
  font-weight: bold;
}
.home_wrap_item .o_price {
  font-size: 0.28rem;
  color: #333;
  margin-top: 0.1rem;
}
.home_wrap_item .o_price span {
  color: #f4333c;
}
.home_wrap_item .content {
  overflow: hidden;
  padding-top: 0.3rem;
  padding-left: 1.92rem;
}
.home_wrap_item .content .pic {
  float: left;
  width: 1.62rem;
  height: 1.61rem;
  margin-left: -1.92rem;
}
.home_wrap_item .content .name {
  font-size: 0.3rem;
  margin-top: 0.2rem;
  color: #333;
  font-weight: bold;
}
.home_wrap_item .content .price {
  font-size: 0.28rem;
  margin-top: 0.35rem;
}
.home_wrap_item .content .price span {
  color: #f4333c;
}
.home_wrap_item .content .price span span {
  font-size: 0.36rem;
}
.home_wrap_icon {
  display: block;
  width: 1.95rem;
  height: 1.28rem;
  margin: 0.8rem auto 0;
}
.home_wrap_ordername {
  font-size: 0.36rem;
  margin-top: 0.3rem;
  text-align: center;
}
.home_wrap_btnname {
  font-size: 0.28rem;
  margin-top: 0.32rem;
  color: #888888;
  text-align: center;
  padding-bottom: 1.7rem;
}
.home_wrap_footer {
  width: 100%;
  height: 1.02rem;
  background: #fff;
  position: fixed;
  bottom: 0;
}
.home_wrap_footer_tbg {
  position: absolute;
  bottom: 1.02rem;
  width: 100%;
}
.home_wrap_footer .footer_circle {
  box-sizing: border-box;
  width: 1.17rem;
  height: 1.16rem;
  border-radius: 100%;
  background: #00a0e9;
  position: absolute;
  bottom: 0.11rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  padding-top: 0.17rem;
}
.home_wrap_footer a {
  display: inline-block;
}
.home_wrap_footer a:last-child {
  float: right;
}
.home_wrap_footer .footer_left {
  float: left;
  width: 3.16rem;
  height: 1.02rem;
  position: relative;
}
.home_wrap_footer .footer_right {
  float: right;
  width: 3.16rem;
  height: 1.02rem;
  position: relative;
}
.home_wrap_footer .icon {
  width: 0.61rem;
  height: 0.61rem;
  position: absolute;
  top: 0.05rem;
  left: 50%;
  transform: translateX(-50%);
}
.home_wrap_footer span {
  position: absolute;
  top: 0.65rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.22rem;
  color: #888;
}
.home_shadow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
}
.home_shadow_box{
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.9rem;
  background: rgba(247, 247, 247, 0.96);
  border-radius: 0.3rem;
  line-height: 0.5rem;
}
.home_shadow_box .title {
  font-size: 0.34rem;
  text-align: center;
  margin-top: 0.5rem;
}
.home_shadow_box .text {
  width: 4.8rem;
  margin: 0 auto;
  font-size: 0.24rem;
  color: #333;
  line-height: 0.36rem;
}
.home_shadow_box .text.mt20 {
  margin-top: 0.2rem;
}
.home_shadow_box .btn {
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  font-size: 0.32rem;
  color: #00a0e9;
  border-top: 0.01rem #dddddd solid;
  margin-top: 0.3rem;
}
