// 这是商品列别分类的样式；
@rem: 100rem;
body {
  margin: 0;
  height: 100%;
  background-color: #f7f6fb;

}

.classify {
  height: 100%;
  display: flex;
  flex-direction: column;
  .class_shadow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.7);
  }
  .class_shadow_box {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 590/@rem;
    background: rgba(247, 247, 247, 0.96);
    border-radius: 30/@rem;
    line-height: 50/@rem;
    .title {
      font-size: 34/@rem;
      text-align: center;
      margin-top: 50/@rem;
    }
    .remind {
      width: 460/@rem;
      margin: 20/@rem auto 0;
      font-size: 26/@rem;
      color: #333;
      text-align: justify;
    }
    .text {
      width: 460/@rem;
      margin: 0 auto;
      font-size: 26/@rem;
      color: #333;
      &.cur {
        font-weight: bold;
        margin: 20/@rem auto 10/@rem;
      }
    }
    .btn {
      height: 90/@rem;
      line-height: 90/@rem;
      text-align: center;
      font-size: 34/@rem;
      color: #00a0e9;
      border-top: 1/@rem #ddd solid;
      margin-top: 30/@rem;
      &:last-child {
        margin-top: 0;
      }
      &.nocolor {
        color: #888;
      }
    }
    .btn1 {
      height: 90/@rem;
      line-height: 90/@rem;
      text-align: center;
      font-size: 34/@rem;
      color: #00a0e9;
      border-top: 1/@rem #ddd solid;
      margin-top: 30/@rem;
    }
  }
  .classify_foot {
    width: 750/@rem;
    height: 100/@rem;
    line-height: 100/@rem;
    text-align: center;
    background: #f7f6fb;
    border-top: 1/@rem #ddd solid;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 28/@rem;
    color: #999;
  }
  .classify_footer {
    width: 750/@rem;
    height: 100/@rem;
    background: #fff;
    border-top: 1/@rem #ddd solid;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    .f_title {
      float: left;
      width: 472/@rem;
      height: 100/@rem;
      line-height: 100/@rem;
      background: #fff;
      font-size: 28/@rem;
      text-align: center;
      color: #333;
      .icon {
        position: relative;
        width: 60/@rem;
        display: inline-block;
      }
      .name {
        display: inline-block;
      }
      img {
        display: inline-block;
        width: 52/@rem;
        height: 52/@rem;
        position: relative;
        top: 14/@rem;
        right: 10/@rem;
      }
      i {
        display: inline-block;
        width: 30/@rem;
        height: 30/@rem;
        background: #00a0e9;
        font-size: 18/@rem;
        color: #fff;
        border-radius: 100%;
        position: absolute;
        top: 15/@rem;
        right: 10/@rem;
        line-height: 30/@rem;
      }
      .price {
        color: #f4333c;
        span {
          font-size: 36/@rem;
        }
        
      }

    }
    .r_btn {
      float: left;
      width: 278/@rem;
      height: 100/@rem;
      line-height: 100/@rem;
      background: #00a0e9;
      font-size: 36/@rem;
      text-align: center;
      color: #fff;
    }
  }
  .classify_head {
    height: 100/@rem;
    background: #fff;
    ul {
      position: relative;
      width: 750/@rem;
      height: 100/@rem;
      padding: 0;
      .line {
        width: 2/@rem;
        height: 32/@rem;
        background: #888;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      li {
        float: left;
        width: 375/@rem;
        height: 100/@rem;
        line-height: 100/@rem;
        font-size: 30/@rem;
        color: #333;
        text-align: center;
        cursor: pointer;
        &.cur {
          color: #00a0e9;
          span {
            width: 140/@rem;
            height: 99/@rem;
            display: inline-block;
            border-bottom: 8/@rem #00a0e9 solid;
          }
        }
      }
    }
  }
  .head {
    background-color: #ffffff;
    border-bottom: 1/@rem solid #dddddd;
    .headback {
      width: 30/@rem;
      height: 30/@rem;
      margin-right: -30/@rem;
      border-top: 5/@rem solid #1b81d2;
      border-right: 5/@rem solid #1b81d2;
      margin-top: 30/@rem;
      transform: rotateZ(-135deg);
    }
    span {
      font-size: 32/@rem;
      color: #1b81d2;
      line-height: 88/@rem;
      margin-left: 30/@rem;
    }
    h3 {
      font-size: 36/@rem;
      line-height: 88/@rem;
      color: #000000;
      margin-left: 180/@rem;
    }

  }
  .content {
    height: 100%;
    flex-grow: 1;
    display: flex;
    .commodity {
      background-color: #ffffff;
      border-right: 1/@rem solid #dddddd;
      .active {
        background-color: #f7f6fb;
        color: #00a0e9;
      }
      .item {
        border-bottom: 1/@rem solid #dddddd;
        border-right: 1/@rem solid #dddddd;
        font-size: 30/@rem;
        line-height: 90/@rem;
      }
    }
    .pinlei {
      width: 559/@rem;
      .title {
        background-color: #f7f6fb;
        span {
          width: 59/@rem;
          height: 1/@rem;
          margin-top: 50/@rem;
          background-color: #333333;
        }
        .left_line {
          margin-right: 10/@rem;
          margin-left: 178/@rem;
        }
        .right_line {
          margin-left: 10/@rem;
        }
        h5 {
          font-size: 30/@rem;
          color: #333333;
          line-height: 90/@rem;
          font-family: PingFang-SC-Regular;
          font-weight: normal;
        }
      }
    }
    .linlei_list {
      width: 559/@rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      position: relative;
      .questions{
        position: absolute;
        right: 60/@rem;
        top: 20/@rem;
        font-size: 24/@rem;
        span{
          width: 23/@rem;
          height: 23/@rem;
          background: url('../icon/问号\(1\)@2x.png') no-repeat;
          background-size: 100% 100%;
          display: inline-block;
          vertical-align: top;
          margin-top: 5/@rem;
        }

      }
      
      .classify_banner {
        display: block;
        width: 500/@rem;
        height: 180/@rem;
        margin: 35/@rem auto;
      }
      .classify_title {
        font-size: 30/@rem;
        color: #333;
        padding: 30/@rem 0;
        border-bottom: 1/@rem #ddd solid;
        margin-left: 30/@rem;
        text-indent: -50/@rem;
        border-top: 1/@rem #ddd solid;
        margin-top: -1/@rem #ddd solid;
        i {
          display: inline-block;
          width: 12/@rem;
          height: 30/@rem;
          background: #00a0e9;
          margin-left: 40/@rem;
          position: relative;
          top: 5/@rem;
          right: 10/@rem;
        }
        span {
          font-size: 24/@rem;
          color: #333;
        }
      }
      .classify_main {
        width: 100%;
        height: 700/@rem;
        margin-top: 30/@rem;
        overflow: scroll;
        padding-bottom: 200/@rem;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;
        .classify_item {
          overflow: hidden;
          border-bottom: 1/@rem #ddd solid;
          margin-left: 30/@rem;
          padding: 45/@rem 30/@rem 25/@rem 5/@rem;
          position: relative;
          .optbtn{
            position: absolute;
            right: 30/@rem;
            bottom: 20/@rem;
            width: 50/@rem;
            height: 50/@rem;
            background: url(../icon/价格未选中@2x.png) no-repeat;
            background-size: 100% 100%;
            .btn{
              width: 200%;
              height: 200%;
              margin-top:-50/@rem;
              margin-left:-50/@rem;  
            }
          }
          .optbtn1{
            position: absolute;
            right: 30/@rem;
            bottom: 20/@rem;
            width: 50/@rem;
            height: 50/@rem;
            background: url(../icon/心未选中@2x.png) no-repeat;
            background-size: 100% 100%;
            .btn{
              width: 200%;
              height: 200%;
              margin-top:-50/@rem;
              margin-left:-50/@rem; 
            }

          }
          
          &:first-child {
            margin-top: -30/@rem;
          }
          &:last-child {
            border-bottom: none;
          }
          img {
            display: inline-block;
            float: left;
            width: 96/@rem;
            height: 96/@rem;
          }
          .name {
            font-size: 32/@rem;
            color: #333;
            padding-left: 120/@rem;
          }
          .price {
            font-size: 24/@rem;
            color: #f4333c;
            padding-left: 120/@rem;
            margin-top: 10/@rem;
            position: relative;
            span {
              font-size: 36/@rem;
              &.class_number {
                font-size: 36/@rem;
                width: 65/@rem;
                display: inline-block;
                text-align: center;
              }
            }
          }
          .calculation {
            font-size: 30/@rem;
            float: right;
            position: absolute;
            right: 0;
            bottom: 0;
            color: #000;
            .round {
              display: inline-block;
              width: 50/@rem;
              height: 50/@rem;
              border-radius: 50%;
              background: #00a0e9;
              text-align: center;
              line-height: 50/@rem;
              color: #fff;
              font-size: 40/@rem;
              span {
                &:nth-of-type(2) {
                  font-size: 30/@rem;
                  display: inline-block;
                  width: 40/@rem;
                  text-align: center;
                  position: relative;
                  top: -3/@rem;
                }
              }
            }
          }
        }
      }
      .item {
        width: 160/@rem;
        margin-left: 20/@rem;
        margin-top: 40/@rem;
        img {
          width: 120/@rem;
          height: 120/@rem;
          vertical-align: top;
        }
        span {
          text-align: center;
          font-size: 24/@rem;
          display: block;
          line-height: 40/@rem;
        }
      }
    }
  }
}
.disable{
  background-color: #c1cccc !important;
}
.checked{
  background: url(../icon/心选中@2x.png) no-repeat !important;
  background-size: 100% 100% !important;
}
.checked1{
  background: url(../icon/价格选中@2x.png) no-repeat !important;
  background-size: 100% 100% !important;
}
