.schedule {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0.5rem;
}
.schedule li {
  margin-right: 0.2rem;
  border-radius: 0.1rem;
  width: 0.2rem;
  height: 0.2rem;
  background-color: #cccccc;
}
.schedule .active {
  background-color: #00a0e9;
}
