
@rem:100rem;
.typeselect{
    width: 100%;
  background-color: #f7f6fb;

  .head{
        
    background-color: #ffffff;
    border-bottom: 1/@rem solid #dddddd;
    .headback{
        width: 30/@rem;
        height: 30/@rem;
        margin-right: -30/@rem;
        border-top: 5/@rem solid #1b81d2;
        border-right: 5/@rem solid #1b81d2;
        margin-top: 30/@rem;
        transform:rotateZ(-135deg);
    }
    span{
        font-size: 32/@rem;
        color: #1b81d2;
        line-height: 88/@rem;
        margin-left: 30/@rem;
    }
    h3{
        font-size: 36/@rem;
        line-height: 88/@rem;
        color: #000000;
        margin-left: 180/@rem;
    }
    
}
  .callbackinfo{
      background-color: #ffffff;
      padding-top: 50/@rem;
      padding-bottom: 50/@rem;
      display: flex;
      
      .imgbox{
          margin-left: 30/@rem;
          height: 160/@rem;
          height: 160/@rem;
          img{
              height: 100%;
          }
      }
      .information{
        margin-left: 30/@rem;
        h5{
            line-height: 66/@rem;
            font-size: 34/@rem;
            color: #333333;
        }
        .recovery_price{
            font-size: 28/@rem;
            .young{
                font-size: 28/@rem;
                color: #f4333c;
                
                span{
                    font-size: 36/@rem;
                    color: #f4333c;
                }
            }
        }
          
      }
  }
  .classchange{
      margin-top: 25/@rem;
    padding-bottom: 80/@rem;
    background-color: #ffffff;
      .titlename{
          font-size: 34/@rem;
          line-height: 94/@rem;
          color: #333333;
          margin-left: 30/@rem;
      }
      .class_change_list{
          width: 100%;
          li{ 
            margin-left: 30/@rem;
            width: 330/@rem;
            height: 60/@rem;
            margin-top: 30/@rem;
              a{
                  display: block;
                  line-height: 60/@rem;
                  text-align: center;
                  color: #666666;
                  font-size: 30/@rem;
                  border: 1/@rem solid #666666;
              }
              .active{
                  background-color: #00a0e9;
                  color: #ffffff;
                  border: 1/@rem solid #00a0e9;
              }
          }
      }
  }
}
