.uploadimage {
  width: 100%;
  background-color: #f5f5f9;
}
.uploadimage .head {
  background-color: #ffffff;
  border-bottom: 0.01rem solid #dddddd;
}
.uploadimage .head .headback {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: -0.3rem;
  border-top: 0.05rem solid #1b81d2;
  border-right: 0.05rem solid #1b81d2;
  margin-top: 0.3rem;
  transform: rotateZ(-135deg);
}
.uploadimage .head span {
  font-size: 0.32rem;
  color: #1b81d2;
  line-height: 0.88rem;
  margin-left: 0.3rem;
}
.uploadimage .head h3 {
  font-size: 0.36rem;
  line-height: 0.88rem;
  color: #000000;
  margin-left: 1.8rem;
}
.uploadimage .imgbtnortext {
  background-color: #ffffff;
  padding-top: 0.48rem;
  display: block;
}
.uploadimage .imgbtnortext .upimg {
  margin: 0 auto;
  width: 1.61rem;
  height: 1.61rem;
  background: url('../../assets/photoimg.png') no-repeat;
  background-color: #f5f5f9;
  background-size: 100%;
}
.uploadimage .imgbtnortext .showimge {
  display: flex;
  justify-content: center;
}
.uploadimage .imgbtnortext .showimge .imgBox {
  position: relative;
}
.uploadimage .imgbtnortext .showimge .imgBox img {
  width: 1.61rem;
  height: 1.61rem;
  margin-right: 0.2rem;
}
.uploadimage .imgbtnortext .showimge .imgBox .zhezhao {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.uploadimage .imgbtnortext .showimge .imgBox .closeImg {
  position: absolute;
  right: 0.2rem;
  top: 0;
  color: red;
  z-index: 3;
}
.uploadimage .imgbtnortext .showimge .imgBox .van-icon-clear:before {
  font-size: 0.3rem;
}
.uploadimage .imgbtnortext .showimge .isaddimg {
  width: 1.61rem;
  height: 1.61rem;
  background-color: #f5f5f9;
  position: relative;
}
.uploadimage .imgbtnortext .showimge .isaddimg span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-color: #ffffff;
}
.uploadimage .imgbtnortext .showimge .isaddimg .level {
  width: 0.8rem;
  height: 0.03rem;
  margin-top: 0.8rem;
}
.uploadimage .imgbtnortext .showimge .isaddimg .verticals {
  height: 0.8rem;
  width: 0.03rem;
}
.uploadimage .imgbtnortext .text {
  text-align: center;
  color: #333333;
  font-size: 0.34rem;
  line-height: 0.91rem;
}
.uploadimage .recycle_description h4 {
  margin-left: 0.3rem;
  color: #333333;
  font-size: 0.34rem;
  font-weight: normal;
  line-height: 0.7rem;
}
.uploadimage .recycle_description .textarea_box {
  position: relative;
}
.uploadimage .recycle_description .textarea_box textarea {
  display: block;
  width: 6.9rem;
  height: 2.55rem;
  font-size: 0.3rem;
  color: #333333;
  border: 0.01rem solid #dddddd;
  margin: 0 auto;
  outline: none;
}
.uploadimage .recycle_description .textarea_box span {
  position: absolute;
  right: 0.4rem;
  bottom: 0.1rem;
  font-size: 0.24rem;
  color: #888888;
}
.uploadimage .recycle_description .nextbutton {
  width: 6.9rem;
  height: 0.84rem;
  color: #ffffff;
  font-size: 0.36rem;
  line-height: 0.84rem;
  text-align: center;
  background-color: #00a0e9;
  margin: 0.5rem auto 0;
  border-radius: 0.1rem;
}
.uploadimage .recycle_description .nextbutton a {
  color: #ffffff;
  display: block;
}
